# Временные и системные файлы
*.tmp
*.swp
*~
.DS_Store
Thumbs.db

# Логи и дампы
*.log
*.dump

# Директории кэша и зависимостей
/node_modules/
/.venv/
/__pycache__/
*.py[cod]
*.class
/bin/
/obj/
/build/
/dist/
*.out

# Настройки IDE
.idea/
.vscode/
*.code-workspace

# Файлы окружения и секреты
.env
*.env.local
secrets.json
config.yml